.title{
    font-family: 'Bevan';
    font-size: 50em;
    margin: auto;
}
.jumbo{
    background-color: #efe7d6;
    margin: 2em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.tripView {
    background-color: darkgrey;
}
