.title{
    font-family: 'Bevan';
    font-size: 50em;
    margin: auto;
}
.jumbo{
    background-color: #efe7d6;
    text-align: center;
    align-items: center;
    justify-content: center;
} 
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

.tripView {
    background-color: darkgrey;
}

.transparentJumbo {
    background-color: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.jumboCreatebutton{
    background-color: #efe7d6;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 0.5em;
    width: 40%;
    padding-top:0.1em;
    padding-bottom: 0.3em;
} 

.tripHeadline {
    margin: auto;
}

.pitstopsOfTrip {
    margin: 1em;
}

