.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.jumbo {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menuicon {
  height:5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #4a344f;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Bevan",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/maphelsinki.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b9ecdd;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-family: 'Bevan',"Segoe UI", "Roboto", sans-serif;
  font-size: 3em;
  margin-bottom: -0.75em;
  color: #4a344f;
}
h2 {
  font-family: 'Bevan',"Segoe UI", "Roboto", sans-serif;
  color: #4a344f;
  font-size: 2em;
}
h3 {
  font-family: 'Bevan',"Segoe UI", "Roboto", sans-serif;
  color: #4a344f;
  font-size: 1.5em;  
}
p {
  color: #4a344f;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Bevan",
    sans-serif; 
    font-size: 0.8em;  
 
}
