body {
  color: #4a344f;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Bevan",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/maphelsinki.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b9ecdd;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-family: 'Bevan',"Segoe UI", "Roboto", sans-serif;
  font-size: 3em;
  margin-bottom: -0.75em;
  color: #4a344f;
}
h2 {
  font-family: 'Bevan',"Segoe UI", "Roboto", sans-serif;
  color: #4a344f;
  font-size: 2em;
  margin-top: 2em; 
}
h3 {
  font-family: 'Bevan',"Segoe UI", "Roboto", sans-serif;
  color: #4a344f;
  font-size: 1.5em; 
}
p {
  color: #4a344f;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue","Bevan",
    sans-serif; 
    font-size: 0.8em;  
 
}

